#form-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

#info-container {
    /*height: fit-content;
    width: fit-content; */
    padding: 50px;
    /*margin-bottom: 40px;*/
}

#info-container h2 {
    width: fit-content;
    font-size: 20px;
    padding-bottom: 2em;
    margin: 0;
    font-weight: 400;
}

#info-container p {
    margin: 0;
    padding-bottom: 2em;
    line-height: 1.5em;
}

form {
    padding: 50px;
}

#form-box {
    margin-bottom: 10px;
}

#form-box label {
    line-height: 1.5em;
}

#form-box input {
    padding: 10px;
    padding-right: 20px;
    
}

#submit input {
    background-color: #D9BE9A;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 35px;
    width: fit-content;
}

#submit input:hover {
    background-color: #DBB065;
}

@media (max-width: 600px) {

    #form-section {
        padding: 20px;
    }
  
}