.header {
    background-color: #CEDBD0;
    margin-bottom: 10px;
    padding: 40px 30px 40px;
}

#head {
    height: 70px;
    width: 100%;
}

.head-item {
    float: left;
}

#head h2 {
    width: fit-content;
    height: fit-content;
    font-weight: 400;
    font-size: 20px;
    padding-top: 35px;
    margin: 0;
}

#logo {
    width: 100%;
    height: auto;
}

#menu {
    background-color: #CBDBC9;
    float: right;
    margin-top: -2px;
}

#menu ul {
    margin: 0px;
}

#menu li {
    list-style-type: none;
    float: left;
    padding-left: 40px;
    font-size: 17px;
    line-height: 1.5em;
    color: #DBB065;
}

#menu li a {
    text-decoration: none;
    color: black;
}

#menu li a:hover {
    color: #DBB065;
}
  
@media (max-width: 900px) {
    .header {
        padding: 10px;
    }
    #head {
        padding-left: 10px;
    }
    #menu {
      float: none;
      margin-top: 25px;
    }
    #menu ul {
        padding-left: 10px;
    }
    #menu li {
      float: none;
      font-size: 14px;
      padding: 0;
    }
}