  
article {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  background-color: white;
  padding: 50px 70px;
}
  
article h1 {
  font-weight: 400;
  font-size: 20px;
}
  
article p {
  font-size: 14px;
  line-height: 25px;
}
  
#sign-up {
  padding-top: 50px;
}
  
#sign-up p {
  float: left;
  font-size: 18px;
  padding-right: 30px;
}
  
#sign-up button {
  float: left;
  background-color: #DBB065;
  color: black;
  font-size: 18px;
  text-decoration: none;
  padding: 15px 35px;
  margin: 0px;
}
  
#sign-up button:hover {
  color: white;
}

@media (max-width: 600px) {

  article {
    padding: 5px 20px;
  } 
  
  article h1 {
    font-size: 18px;
    padding: 0px;
  }
  
  article p {
    padding: 0px;
  }
  
  article a {
    float: none;
    margin: 10px 0px;
  }
  
  #sign-up {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
  }
  
  #sign-up a {
    text-align: center;
  }
}