#space {
    display: flex;
    width: 100%;
    padding: 110px 0px 130px 70px;
    /*margin-left: 80px;*/
  }
  
  #item-container {
    width: fit-content;
    height: fit-content;
    padding: 20px;
  }
  
  #item-container p {
    float: left;
    margin-top: 11px;
  }
  
  #cup {
    float: left;
    margin-right: 30px;
    max-width: 100%;
  }