nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #D9BE9A;
    padding: 20px 0px;
    flex-basis: 350px;
    flex-grow: 0;
}

#search input {
    margin-left: 38px;
    padding: 5px;
    font-size: inherit;
}
  
nav ul {
    list-style-type: none;
    padding-right: 40px;
}
  
nav li {
    font-size: 17px;
    color: black;
    text-decoration: none;
    /*line-height: 2em;*/
    margin-bottom: 20px;
}

nav li p {
    font-size: small;
    margin: 5px 0px;
}
  
nav ul li:hover {
    color: white;
}

@media (max-width: 600px) {

    nav {
        padding: 5px 20px;
    }
  
    nav ul {
        padding: 0px;
    }
  
    nav li a {
        font-size: 16px;
    }
}