/*--applies to all html-files--*/
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}


section {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

/*------------------------------------*/

/*--index-page---*/
#space {
  display: flex;
  width: 100%;
  height: inherit;
  justify-content: center;
  align-items: center;
  padding: 120px 0px 220px;
}

#item-container {
  width: fit-content;
  height: fit-content;
  padding: 20px;
}

#item-container p {
  float: left;
  margin-top: 11px;
}

#cup {
  float: left;
  margin-right: 30px;
}
/*---------------------------*/

/*--upcoming seminars----*/
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #D9BE9A;
  padding: 20px 0px;
  flex-basis: 220px;
  flex-grow: 0;
}

nav ul {
  list-style-type: none;
  padding-right: 40px;
}

nav li {
  font-size: 17px;
  line-height: 2em;
  color: white;
}
nav li a {
  color: black;
  text-decoration: none;
}

nav ul li a:hover {
  color: white;
}

article {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  background-color: white;
  padding: 50px 70px;
}

article h1 {
  font-weight: 400;
  font-size: 20px;
}

article p {
  font-size: 14px;
  line-height: 25px;
}

#sign-up {
  padding-top: 50px;
}

#sign-up p {
  float: left;
  font-size: 18px;
  padding-right: 30px;
}

#sign-up a {
  float: left;
  background-color: #DBB065;
  color: black;
  font-size: 18px;
  text-decoration: none;
  padding: 20px 35px;
  margin: 0px;
}

#sign-up a:hover {
  color: white;
}
/*--------------------------------*/

/*-----sign up------------*/

#form-section {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 100px;
}

#info-container {
  height: fit-content;
  width: fit-content; 
  margin-right: 100px;
  margin-bottom: 40px;
}

#info-container h2 {
  font-size: 20px;
  margin: 0;
  font-weight: 400;
}

#info-container p {
  height: fit-content;
  width: fit-content;
  margin: 2em 0em;
  line-height: 1.5em;
}

form {
  padding-top: 5px;
}
#form-box {
  margin-bottom: 10px;
}

#form-box label {
  line-height: 1.5em;
}

#form-box input {
  padding: 10px;
  padding-right: 20px;
  
}

#submit input {
  background-color: #D9BE9A;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px 35px;
  width: fit-content;
}

#submit input:hover {
  background-color: #DBB065;
}
/*-------------------------*/

/*--applies to all html-files--*/
.footer {
  background-color: #6C5E5C;
  padding: 30px 0px;
  margin-top: 10px;
  text-align: center;
}

.footer p {
  font-size: x-small;
  color: white;
}


@media (max-width: 600px) {

  /*applies to all html-files*/
  section {
      flex-direction: column;
  }
  /*-------------------------*/

  /*-----Upcoming------*/
  nav {
      padding: 5px 20px;
  }

  nav ul {
      padding: 0px;
  }

  nav li a {
      font-size: 16px;
  }

  article {
      padding: 5px 20px;
  } 

  article h1 {
      font-size: 18px;
      padding: 0px;
  }

  article p {
      padding: 0px;
  }

  article a {
      float: none;
      margin: 10px 0px;
  }

  #sign-up {
      display: flex;
      flex-direction: column;
      margin: 20px 0px;
  }

  #sign-up a {
      text-align: center;
  }
  /*-------------------*/

  /*-----Sign up-------*/
  #form-section {
      padding: 20px;
  }

}
