#previous-space {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 220px 0px;
}
#previous-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

#previous-container p {
    margin: 0;
}