#form-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#info-container {
    /*height: fit-content;
    width: fit-content; */
    padding: 20px;
    /*margin-bottom: 40px;*/
}

#info-container h2 {
    width: fit-content;
    font-size: 20px;
    padding-bottom: 2em;
    margin: 0;
    font-weight: 400;
}

#info-container p {
    margin: 0;
    padding-bottom: 2em;
    line-height: 1.5em;
}

#form-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.form-box input {
    padding: 7px;
    margin: 10px;
}

#submit {
    float: right;
    background-color: #D9BE9A;
    font-size: 16px;
    margin-top: 30px;
    padding: 15px 45px;
    width: inherit;
}

#submit:hover {
    background-color: #DBB065;
}

@media (max-width: 600px) {

    #form-section {
        padding: 20px;
    }
  
}